$primaryColor: #01d277;
$secondaryColor: #081c24;

$blockPadding: 15px;

body {
  background-color: $secondaryColor;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.tmdb-header {
  background-color: $secondaryColor;
  color: white;
  padding: $blockPadding;
  display: flex;
  justify-content: space-between;
}

.tmdb-footer {
  background-color: $secondaryColor;
  padding: $blockPadding;
}

.tmdb-content {
  background-color: $primaryColor;
  padding: 30px;
}

.tmdb-search {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: $secondaryColor;
  width: 300px;
  max-width: 80%;
  margin: 0 auto;

  &__input {
    border: none;
    height: 35px;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    font-size: 20px;
  }

  &__button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $secondaryColor;
    color: $primaryColor;
    font-weight: bold;

    &:active {
      background-color: lighten($secondaryColor, 10%);
    }
  }
}

.tmdb-search-errors {
  background-color: crimson;
  width: 300px;
  max-width: 80%;
  margin: 0 auto;

  .error {
    padding: 10px;
    color: white;
  }
}

.tmdb-search-results {
  padding-top: 20px;
}

.tmdb-movie-tile {
  display: inline-block;
  background-color: $secondaryColor;
  color: white;
  padding: 20px;
  margin: 10px;
  vertical-align: top;

  &__title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    max-width: 185px;
  }
}
